* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* The following section of code makes the NavBar display correctly */

.nav {
  background-color: #333;
  overflow: hidden;
}

.nav a {
  float: none;
  display: block;
  text-align: left;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 17px;
}

.hamburger, .cross {
  position:absolute;
  top:0;
  right:0;
  background: inherit;
  color: #ddd;
  line-height: 45px;
  padding:13px 6%;
  border: 0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
}

.cross {
  font-size: 65px;
  line-height: 70px;
}

/* This line keeps all links in the Navbar after home hidden */
.nav a:not(:first-child) {
  display: none;
}

.nav ul {
  margin: 0;
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}

.nav li {
  display: block;   
  padding: 15px 15px; 
}

.nav a:not(:first-child) li:hover {
  display: block;    
  background:#ffffff; 
  color: black; 
  padding:15px 15px;
}


.nav-home {
  background-color: #4CAF50;
  color:white;
  max-width: 65px;
}

/* This sections applies styling to the first visible section past the NavBar */
.tree {
  max-width: 30%
}

.headshot {
  border-radius: 50%;
  max-width: 40%;
}

/* This sections applies styling for the about me section */

.about-me {
  font-family: "Roboto"
}

p {
  padding: 5px 25px;
}

section {
  min-height: 200px;
  padding: 6% 0 0 0;
}

/* This section applies styling for the Projects Section */

.projects {
  font-family: "Roboto"
}

.project-screenshot {
  border: #333 solid 1px;
  width: 80%;
}

.projects ul {
  padding-inline-start: 0px;
}

.project-links {
  margin: 50px 0px;
  text-align: center;
}

.play-link, .github-link {
  font-family: "Muli", sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 25px;
  font-weight: bolder;
  border-right: #333 solid 1px;
}

.github-link {
  border-right:none;
}

.tech-used-images img {
  margin-top: 25px;
  height: 75px;
}

/* This section applies styling for the Skills section and also creates the Parallax effect
   on the section headers */

.skills ul {
  padding-inline-start: 0px;
}

.skills .sectionHead {
  font-size: 40px;
  font-weight: bold
}

.skills li {
  font-size: 26px;
}

.skills h2, .projects h2, .about-me h2, .contact-me h2 {
  font-family: 'Concert One', cursive;
  font-size: 60px;
  color: aliceblue;
  min-height: 150px;
  border-radius: 0 0 85% 85% / 30%;
  margin: 0;
  margin-bottom: 15px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-title h2 {
  padding-top: 40px;
  text-shadow: 2px 2px #333;
}

/* This section applies styling for the Contact Me Section */

.contact-me {
  padding: 1% 0;
  margin-bottom: 20px
}

.contact {
  display: flex;
  justify-content: center;    
  padding-bottom: 30px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 0 0 5px 35%
}

.contact-container a {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.contact-container img {
  border-radius: 20%;
  height: 35px;
}

.contact-container a span {
  padding-top: 5px;
  margin-left: 5px;
  font-family: 'Muli', sans-serif;
}

/* This will activate if the screen is bigger than 700px */

@media only screen and (min-width: 700px){
  
  /* This section applies styling for the NavBar */
  /* This line makes all items in the Navbar after Home reappear */ 
  .nav a:not(:first-child) {
    display: block;
  }

  .nav a {
    float: left;
    display: block;
    text-align: center;
  }

  .hamburger {
   float: right;
   display: none;
  }
  
  /* This section applies styling for the About Me and Projects Section. Code is used for both 
     to ensure code remains DRY. */

  .headshot-container {
    display: flex;
    flex-direction: row;
  }

  .headshot-text {
    padding: 15% 0px 20% 0px;
    margin: 0px 50px;
    font-weight: bolder;
    font-style: italic;
  }

  .headshot {
    padding-top: 5%;
    padding-left: 5%;
    width: 751px;
    height: 100%;
  }

  .bio-paragraphs, .projects-image-and-description {
    display: flex;
    flex-direction: row;
    text-align: left
  }

  .bio-1, .projects-image {
    border-right: #333 solid 1px;
    flex: 50%;
  }

  .bio-2, .projects-description {
    flex: 50%;
  }

  .project-screenshot {
    margin: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .project-links {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex: 50%;

  }
  
  .play-link, .github-link {
    font-size: 25px;
  }

  .github-link {
    border-right:none;
  }
  
  /* This section applies styling for the Skills Section */
  .skillSymbolsAndList {
    display: flex;
  }
   
  .skillSymbolsAndList ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
   
  .skillsListBox {
    background: #21422f;
    color: white;
    padding: 0 40px 10px 0;
    flex: 50%;
    margin: 0 18% 0 2%;
  }
   
  .skillsListContent {
    text-align: left;
    padding-left: 10%;
    padding-top: 0px;
  }
   
  .skillSymbolsBox {
    flex: 50%;
    text-align: end;
    margin: 0 2% 0 18%;
  }

  .skillSymbolsBox img {
    min-height: 322px;
    min-width: 210px;
  }

  /* This section applies styling for the Contact Me Section */
  .contact-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  .contact-container a {
    text-align: center;
    cursor: pointer;
  }
}
